/* nejsme vcerejsi, pouzivame moderni box model */
html { box-sizing: border-box; }
*, ::after, ::before { box-sizing: inherit; }

/* -------------------------------------------------- */

/*
pouzivame mobile first pristup
tj. vychozi styly mimo media query jsou pro nejmensi mobilni zarizeni
s pribyvajici sirkou pridavame media query pro středně široké obrazovky:
@media (min-width: 480px) {
}
široké obrazovky
@media (min-width: 860px) {
}
*/

body {
    margin: 0;
    font-family: 'Source Sans Pro', sans-serif;
}

.paticka {
    text-align: center;
    font-size: 14px;
    color: silver;
}

.paticka a {
    color: silver;
}

/* ------------------------------- */
/* ----- DOLE BUDE TVOJE CSS ----- */
/* ------------------------------- */

.jidlo, 
.komentar {
    font-size: 0.8rem;
    font-weight: 400;
 }
.jidlo 

 .komentar { 
     text-align: right;    
 }
 
.hlavni_recept .jidlo,
.maly_recept .jidlo {
     position:absolute;
     top: 0;
 }

.hlavni_recept .komentar,
.maly_recept .komentar {
    position:absolute;
    top: 0;
    right: 0.5rem;
}

h2 {
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
    font-size: 1.75rem;
}

h3 {
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
    font-size: 1.2rem;
    margin-bottom: 0.5rem;
}

.obrazovka {
    color: #fff;
    margin: auto;
}

.style {
    background-position: center;
    background-size: cover;
    padding: 0.5rem;
    margin: 0.1rem;
    display: flex;
    flex-direction: column-reverse;
    position: relative;
}

.hlavni_recept {
    background-image: url(images/salat.jpg); 
    min-height: 200px; 
}

.maly_recept {
    min-height: 90px; 
}

.prvni_recept {
    background-image: url(images/chlebicek.jpg);    
}

.druhy_recept {
    background-image: url(images/cizrna.jpg);
}

.treti_recept {
    background-image: url(images/tacos.jpg);
}

.ctvrty_recept {
    background-image: url(images/burger.jpg);
}
