/* nejsme vcerejsi, pouzivame moderni box model */
html { box-sizing: border-box; }
*, ::after, ::before { box-sizing: inherit; }

/* -------------------------------------------------- */

/*
pouzivame mobile first pristup
tj. vychozi styly mimo media query jsou pro nejmensi mobilni zarizeni
s pribyvajici sirkou pridavame media query pro středně široké obrazovky:
@media (min-width: 480px) {
}
široké obrazovky
@media (min-width: 860px) {
}
*/

body {
    margin: 0;
    font-family: 'Source Sans Pro', sans-serif;
}

.paticka {
    text-align: center;
    font-size: 14px;
    color: silver;
}

.paticka a {
    color: silver;
}

/* ------------------------------- */
/* ----- DOLE BUDE TVOJE CSS ----- */
/* ------------------------------- */

.jidlo, 
.komentar {
    font-size: 0.8rem;
    font-weight: 400;
    position:absolute;
    top: 0; 
 }

 .komentar { 
     right: 0.5rem;
}

h2 {
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
    font-size: 1.75rem;
}

h3 {
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
    font-size: 1.2rem;
    margin-bottom: 0.5rem;
}

.obrazovka {
    color: #fff;
    margin: auto;
    text-shadow: 0.5rem 0.5rem 0.5rem rgba(109, 102, 102, 0.819);
}

.style {
    background-position: center;
    background-size: cover;
    padding: 0.5rem;
    margin: 0.1rem;
    display: flex;
    flex-direction: column-reverse;
    position: relative;
}

.hlavni_recept {
    background-image: url(images/salat.jpg); 
    min-height: 200px; 
}

.maly_recept {
    min-height: 90px; 
}

.prvni_recept {
    background-image: url(images/chlebicek.jpg);    
}

.druhy_recept {
    background-image: url(images/cizrna.jpg);
}

.treti_recept {
    background-image: url(images/tacos.jpg);
}

.ctvrty_recept {
    background-image: url(images/burger.jpg);
}

@media screen and (min-width: 480px) {
    .obrazovka {
        display: flex;
        flex-flow: column wrap;
    }
    h2 {
        font-size: 2rem;
    }
    h3 {
        font-size: 1.5rem;
    }
    .hlavni_recept {
        min-height: 250px;
        width: 100%;
    }
    .maly_recept {
        min-height: 150px;
        width: calc(50% - 0.25rem);
    }
    .male_recepty {
        display: flex;
        flex-flow: row wrap;
    }
    .style {
        padding: 1.25rem;
    }
    
    .druhy_recept {
        order: 1;
    }
    .ctvrty_recept {
        order: 2;
    }
}

@media screen and (min-width: 860px) {
    .obrazovka {
        display: flex;
        flex-flow: row wrap;
    }
    h2 {
        font-size: 3rem;
    }
    h3 {
        font-size: 1.75rem;
    }
    .hlavni_recept {
        min-height: 400px;
        flex: 1;
        
    }
    .maly_recept {
        min-height: 200px;
    }
    .style {
        padding: 1.25rem;
    }
    .male_recepty {
        display: flex;
        flex-flow: row wrap;
        flex: 2;
    }
}